{% extends 'login/layout.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <form class="login-form border flex-column mb-3">
        <h3 class="login-title">Вход</h3>
        <div class="mb-3">
            <label for="inputEmail1" class="form-label">Адрес электронной почты</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="inputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        <span class="login-end">Нету аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></span>
    </form>
{% endblock %}
