{% extends 'main/layout.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/film.css' %}">
{% endblock %}

{% block title %}ki:nesire{% endblock %}

{% block content %}
    <main>
        <div class="ctn">
            <div class="d-flex justify-content-between">
                <div class="left">
                    <h1 class="title fw-bold">{{ title }}</h1>
                    <p class="data">{{ date }} · {{ dur }} мин. · {{ age }}</p>
                    <div class="d-flex justify-content-between">
                        <img class="poster img-fluid" src="{{ poster_url }}">
                        <iframe class="trailer" width="800" height="400" src="{{ trailer_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="right">
                    <h1 class="rating fw-bold">Рейтинг</h1>
                    <div class="d-flex justify-content-between rate-data">
                        <span class="fw-bold">{{ rate }}</span>
                        <span>{{ rates_count }} оценок</span>
                    </div>
                    <a class="write-op" href="#">Написать отзыв</a>
                    <div class="stuff">
                        <p>Режиссёр: <br> {{ author }}</p>
                        <p>Сценарист: <br> {{ scenarist }}</p>
                        <p>Звёзды: <br> {{ stars }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around align-items-center bottom">
            <a class="begin" href="#">Начать смотреть</a>
            <p class="desc">{{ description }}</p>
        </div>
    </main>
{% endblock %}