{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="main-h home-h">
        <h1 class="fw-semibold" style="margin-bottom: 20px;">Көрдөө. Көр. Дьүүллээ</h1>
        <span>
            Добро пожаловать на {}, где вы сможете окунуться в мир якутской культуры и истории.<br>
            Огромное количество телепередач, сериалов, фильмов и других видеоматериалов, посвященных Якутии и якутскому языку.
        </span>
    </div>
{% endblock %}