{% extends 'main/layout.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block title %}ki:nesire{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="fw-bold title">Көрдөө. Көр. Дьүүллээ.</h1>
        <span class="fw-light">
            Окунитесь в мир якутской культуры и истории.<br>
            Огромное количество телепередач, сериалов, фильмов и других видеоматериалов,<br>
            посвященных Якутии и её жителям. <br>
        </span>

        <form class="search container" role="search">
            <div class="row justify-content-center">
                <input class="form-control col-sm search-bar" type="search" placeholder="Поиск..." aria-label="Search">
                <input type="submit" hidden/>
            </div>
        </form>

        <div class="trt2">
            <div class="container">
                <div class="row">
                    <div class="col-sm left">
                        <h1 class="fw-bold col-sm">Смотрите везде</h1>
                        <p>Смотрите неограниченное количество <br>
                            фильмов и телепередач на телефоне, <br>
                            планшете, ноутбуке, компьютере не переплачивая.</p>
                    </div>
                    <img class="col-sm" src="{% static 'main/img/mockup.png' %}">
                </div>
            </div>
        </div>
    </main>
{% endblock %}