header{
    padding-top: 10px;
}

.header-el{
    text-decoration: none;
    opacity: 0.7;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    color: #1b1b1b;
    background: none;
    transition: opacity 0.3s ease;
}

.header-el.btn-middle{
    margin: 0px 1.2%;
}

.header-el:hover{
    color: #1b1b1b;
    opacity: 1;
}

.header-el-h{
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-btn {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-btn:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-icon{
    margin-right: 10px;
}

footer{
    background: #000000;
    padding: 80px 0px;
    color: #e2e2e2;
}

.footer-h{
    margin: 0;
}

footer a{
    text-decoration: none;
}

.footer-el a{
    color: #e2e2e2;
}

.footer-el a:hover{
    color: #ffffff;
}